<%- include('partials/header') %>
<%- include('search') %>
<div class="table-responsive">
    <table class="table-hover">
        <tr>
        <th class="thead-light"></th>
        <th class="thead-light"><button id="sortName" onclick="sort(1, 2)">Naam</button></th>
        <th class="thead-light"><button id="sortValenceElectrons" onclick="sort(2, 3)">Valentie-elektronen</button></th>
        <th class="thead-light"><button id="sortSynthetic" onclick="sort(3,4)">Synthetisch/Natuurlijk</button></th>
        <th class="thead-light"><button id="sortType" onclick="sort(4, 5)">Type</button></th>
        <th class="thead-light"><button id="sortDiscoveryDate" onclick="sort(5,6)">Ontdekt in</button></th>
        </tr>
        <% for(let i=0;i<elements.length;i++) { %>
        <tr>
            <td><img height="50px" src="<%=elements[i].imgUrl%>" class="rounded-circle img-thumbnail" ></img></td>
            <td><a href="elements/<%=elements[i].id%>"><%=elements[i].name%></a></td>
            <td><%=elements[i].valenceElectrons%></td>
            <% if(elements[i].synthetic == true) { %>
                <td>Synthetisch</td>
            <% } else { %>
                <td>Natuurlijk</td>
            <% } %>
            <td><%=elements[i].type%></td>
            <td><%=elements[i].discoveryDate%></td>
       </tr>
    <% } %>
    </table>
</div>
    <script>
    // Set all directions as if it's descending, this way when clicking first time it will set to ascending
    let directions = [false, false, false, false, false, false];

    function sort(columnIndex, child)   {
    let table = document.querySelector("table");
    let rows = Array.from(table.querySelectorAll("tr"));
        rows.shift(); // Remove the header row from the array

    rows.sort(function(a, b) {
    let nameA = a.querySelector(`td:nth-child(${child})`).innerText;
    let nameB = b.querySelector(`td:nth-child(${child})`).innerText;
    if(directions[columnIndex] == false){
        return nameA.localeCompare(nameB);
    } else {
        return nameB.localeCompare(nameA);
    }
    });

    while (table.rows.length > 1) {
            table.deleteRow(1);
        } // Clear the table
    rows.forEach(function(row) {
    table.appendChild(row); // Append the sorted rows back to the table
    });

    // Toggle the direction for the next sort
    directions[columnIndex] = !directions[columnIndex];
    };
</script>


<%- include('partials/footer') %>